{#- Render docstring admonitions as static Material boxes. -#}

{% set kind = "note" if section.value.kind == "notes" else section.value.kind %}
{% set title = "Note" if section.title == "Notes" else section.title %}
<div class="admonition {{ kind }}">
  <p class="admonition-title">{{ title|convert_markdown(heading_level, html_id, strip_paragraph=True, autoref_hook=autoref_hook) }}</p>
  {{ section.value.contents|convert_markdown(heading_level, html_id, autoref_hook=autoref_hook) }}
</div>
