{% extends "_base/function.html.jinja" %}

{#- Separate top-level signatures; keep method signatures in their headings. -#}
{% block heading %}
  {% if function.parent and function.parent.is_class %}
    {% if config.show_symbol_type_heading %}<code class="doc-symbol doc-symbol-heading doc-symbol-{{ symbol_type }}"></code>{% endif %}
    {%+ filter highlight(language="python", inline=True) -%}
      {{ function_name }}
      {%- include "type_parameters.html.jinja" with context -%}
      {%- include "signature.html.jinja" with context -%}
    {%- endfilter %}
  {% else %}
    {{ super() }}
  {% endif %}
  {% if function.relative_package_filepath and function.lineno %}
    <a class="doc-source-link" href="https://github.com/auxeno/ion/blob/main/{{ function.relative_package_filepath }}#L{{ function.lineno }}{% if function.endlineno %}-L{{ function.endlineno }}{% endif %}" title="View source on GitHub">[source]</a>
  {% endif %}
{% endblock heading %}

{% block signature %}
  {%- if not (function.parent and function.parent.is_class) -%}{{ super() }}{%- endif -%}
{% endblock signature %}
